# **Assignment 2 Solutions**

**1. Write a Python program to convert kilometers to mile.**

In [6]:
def km_to_mile():
  kilometers = float(input("Enter no. of kilometers : "))
  print("{} km is equal to {} miles".format(kilometers,kilometers*0.621))

km_to_mile()

Enter no. of kilometers : 7.8
7.8 km is equal to 4.8438 miles

**2.Write a Python program to convert Celsius to Fahrenheit?**

In [7]:
def cel_to_fahr():
  celsius = float(input("Enter the temperature in celsius : "))
  print("{} celsius is equal to {} fahrenheit".format(celsius,celsius*1.8+32))

cel_to_fahr()

Enter the temperature in celsius : 22
22.0 celsius is equal to 71.6 fahrenheit

**3.Write a Python program to display calender ?**

In [9]:
import calendar

def show_calendar():
  year = int(input("Enter the year : "))
  print(calendar.calendar(year))

show_calendar()

Enter the year : 2023
                                  2023

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                   1             1  2  3  4  5             1  2  3  4  5
 2  3  4  5  6  7  8       6  7  8  9 10 11 12       6  7  8  9 10 11 12
 9 10 11 12 13 14 15      13 14 15 16 17 18 19      13 14 15 16 17 18 19
16 17 18 19 20 21 22      20 21 22 23 24 25 26      20 21 22 23 24 25 26
23 24 25 26 27 28 29      27 28                     27 28 29 30 31
30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2       1  2  3  4  5  6  7                1  2  3  4
 3  4  5  6  7  8  9       8  9 10 11 12 13 14       5  6  7  8  9 10 11
10 11 12 13 14 15 16      15 16 17 18 19 20 21      12 13 14 15 16 17 18
17 18 19 20 21 22 23      22 23 24 25 26 27 28      19 20 21 22 23 24 25
24 25 26 27 28 29 30      29 30 31                  26 27 28 29 30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6                   1  2  3
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       4  5  6  7  8  9 10
10 11 12 13 14 15 16      14 15 16 17 18 19 20      11 12 13 14 15 16 17
17 18 19 20 21 22 23      21 22 23 24 25 26 27      18 19 20 21 22 23 24
24 25 26 27 28 29 30      28 29 30 31               25 26 27 28 29 30
31

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                   1             1  2  3  4  5                   1  2  3
 2  3  4  5  6  7  8       6  7  8  9 10 11 12       4  5  6  7  8  9 10
 9 10 11 12 13 14 15      13 14 15 16 17 18 19      11 12 13 14 15 16 17
16 17 18 19 20 21 22      20 21 22 23 24 25 26      18 19 20 21 22 23 24
23 24 25 26 27 28 29      27 28 29 30               25 26 27 28 29 30 31
30 31

In [11]:
import calendar

yy = int(input("Enter year: "))

print(calendar.calendar(yy))

'''
In the line print(calendar.calendar(yy)), the first occurrence of calendar refers to the module itself, and the second calendar(yy) is a method call.
First "calendar": This refers to the calendar module that you imported at the beginning of your code using import calendar. The calendar module provides
various functions related to calendars.
Second "calendar(yy)": This is a method call to the calendar() function within the calendar module. The calendar() function takes a year as an argument
and returns a multiline string representing the calendar for that year.
So, when you write calendar.calendar(yy), you are essentially using the calendar() function from the calendar module and passing the year yy as an argument
to get the calendar for that specific year.
In summary, the calendar module is used to access the calendar() function, which is then used to generate and print a calendar for the specified year (yy).
'''

Enter year: 2023
                                  2023

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                   1             1  2  3  4  5             1  2  3  4  5
 2  3  4  5  6  7  8       6  7  8  9 10 11 12       6  7  8  9 10 11 12
 9 10 11 12 13 14 15      13 14 15 16 17 18 19      13 14 15 16 17 18 19
16 17 18 19 20 21 22      20 21 22 23 24 25 26      20 21 22 23 24 25 26
23 24 25 26 27 28 29      27 28                     27 28 29 30 31
30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2       1  2  3  4  5  6  7                1  2  3  4
 3  4  5  6  7  8  9       8  9 10 11 12 13 14       5  6  7  8  9 10 11
10 11 12 13 14 15 16      15 16 17 18 19 20 21      12 13 14 15 16 17 18
17 18 19 20 21 22 23      22 23 24 25 26 27 28      19 20 21 22 23 24 25
24 25 26 27 28 29 30      29 30 31                  26 27 28 29 30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6                   1  2  3
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       4  5  6  7  8  9 10
10 11 12 13 14 15 16      14 15 16 17 18 19 20      11 12 13 14 15 16 17
17 18 19 20 21 22 23      21 22 23 24 25 26 27      18 19 20 21 22 23 24
24 25 26 27 28 29 30      28 29 30 31               25 26 27 28 29 30
31

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                   1             1  2  3  4  5                   1  2  3
 2  3  4  5  6  7  8       6  7  8  9 10 11 12       4  5  6  7  8  9 10
 9 10 11 12 13 14 15      13 14 15 16 17 18 19      11 12 13 14 15 16 17
16 17 18 19 20 21 22      20 21 22 23 24 25 26      18 19 20 21 22 23 24
23 24 25 26 27 28 29      27 28 29 30               25 26 27 28 29 30 31
30 31

**4.Write a Python program to solve quadartic equation ?**

In [4]:
'''
D = b2 – 4ac
In terms of D, the roots can be written as: x = (α, β) = [-b ± √(b2 – 4ac)]/2a = [-b ± √D]/2a
D is a real number since a, b and c are real numbers. Depending upon a, band c, the value of D can either be positive, negative or zero.

1.) D > 0 : When D is positive, the equation will have two real and distinct roots.

x = [-b + √D]/2a     or     x = [-b - √D]/2a


2.) D = 0 : When D is equal to zero, the equation will have two real and equal roots.

x = -b/2a     or    x = -b/2a


3.) D < 0: When D is negative, the equation will have no real roots and the roots will be complex.

'''

import math   # Python has also a built-in module called math, which extends the list of mathematical functions. For example,  math.sqrt() method returns the square root of a number.
import cmath  # Python has a built-in module that you can use for mathematical tasks for complex numbers.

def quadratic_equation(a,b,c):

  discriminant = b*b-4*a*c

  if discriminant == 0 :
    r1 = -b/2*a
    r2 = -b/2*a
    print("Roots are real and equal",r1,r2)

  elif discriminant > 0 :
    r1 = (-b-math.sqrt(discriminant))/(2*a)
    r2 = (-b+math.sqrt(discriminant))/(2*a)
    print("Roots are real and different",r1,r2)

  else :
    r1 = (-b-cmath.sqrt(discriminant))/(2 * a)       # cmath.sqrt(x)	Returns the square root of a complex number
    r2 = (-b+cmath.sqrt(discriminant))/(2 * a)
    print("Roots are Imaginary",r1,r2)


a = int(input('Enter a value: '))
b = int(input('Enter b value: '))
c = int(input('Enter c value: '))

quadratic_equation(a,b,c)

Enter a value: 4
Enter b value: 5
Enter c value: 6
Roots are Imaginary (-0.625-1.0532687216470449j) (-0.625+1.0532687216470449j)

**5.Write a Python program to swap two variables without temp variable ?**

In [10]:
'''
Method 1 :- Using simple built-in method
This method works for any data type values like string, int, float and is easy to use.

left , right = right , left
'''

num_1 = int(input('Enter first number: '))
num_2 = int(input('Enter second number: '))

def swapNumbers(num_1,num_2):
  print ("Before swapping: ")
  print("Value of num_1 : ", num_1, " and num_2 : ", num_2)

# code to swap
  num_1, num_2 = num_2, num_1

  print ("After swapping: ")
  print("Value of num_1 : ", num_1, " and num_2 : ", num_2)

swapNumbers(num_1,num_2)

Enter first number: 4
Enter second number: 5
Before swapping:
Value of num_1 :  4  and num_2 :  5
After swapping:
Value of num_1 :  5  and num_2 :  4

In [11]:
'''
Method 2 :- Using Bitwise XOR operator

This method only works for integers and works faster because this method uses bit operation (for same values, output = 0 and for different values, output = 1) .

x ^= y
y ^= x
x ^= y
'''

x = 5  # x = 0101
y = 10 # y = 1010

print ("Before swapping: ")
print("Value of x : ", x, " and y : ", y)

# Swap code
x ^= y # x = 1111, y = 1010     x = 1111 is the updated value
y ^= x # y = 0101, x = 1111     y = 0101 is the updated value
x ^= y # x = 1010, y = 0101     x = 1010 is the updated value

print ("After swapping: ")
print("Value of x : ", x, " and y : ", y)

Before swapping:
Value of x :  5  and y :  10
After swapping:
Value of x :  10  and y :  5

In [12]:
'''
Method 3 :- Using Addition and Subtraction Operators

x = x + y
y = x - y
x = x - y

This method works for variables that have numeric values.
'''

x = 5.4
y = 10.3

print ("Before swapping: ")
print("Value of x : ", x, " and y : ", y)

# Swap code
x = x + y # x = 15.7, y = 10.3
y = x - y # x = 15.7, y = 5.4
x = x - y # x = 10.3, y = 5.4

print ("After swapping: ")
print("Value of x : ", x, " and y : ", y)

Before swapping:
Value of x :  5.4  and y :  10.3
After swapping:
Value of x :  10.3  and y :  5.4